[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
simple-gen = {editable = true,path = "."}

[packages]
click = "*"
pyjwt = "*"
simple-gen = {editable = true,path = "."}

[requires]
python_version = "3.7"
