[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = {index = "https://pypi.tuna.tsinghua.edu.cn/simple",version = "*"}
pytest-runner = {index = "https://pypi.tuna.tsinghua.edu.cn/simple",version = "*"}
pytest-cov = {index = "https://pypi.tuna.tsinghua.edu.cn/simple",version = "*"}

[packages]
click = "*"

[requires]
python_version = "3.7"
